// Don't modify this file. Create `index.js` and put your overrides in there.
module.exports = {
  env: process.env.NODE_ENV || 'development',
  host: process.env.HOST || 'localhost',
  port: process.env.PORT || 3000,
  mongodb: process.env.MONGOLAB_URI || 'mongodb://<user>:<password>@ds029565.mlab.com:29565/hobbyhub',
  secret: 'tajnyKlic',
  authExpiration: 7 * 24 * 60 * 60,
};
