@import '../../stylesheets/variables/colors';

.CategoryIcon {
  display: inline-block;
  padding: 5px;

  border-radius: 4px;
}

.CategoryIcon--gray {
  background-color: $gray;
}

.CategoryIcon--gray.is-selected {
  background-color: $brand-success;
}
